@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PageTitle>SwagBagger</PageTitle>

<h1>SwagBagger</h1>

<p>Submit form coming soon.</p>

<form method="post" action="/account/logout">
    <button type="submit">Log out</button>
</form>